<!-- Cards -->
<div class="row">
  <!-- Calendar -->
  <div class="col-lg-4">
    <div>
      <mat-card class="overflow-hidden">
        <div>
          <img style="height: 121px;" src="./../../../../assets/images/card1.jpg" class="w-100" alt="">
        </div>
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </div>
  </div>
  <!-- Guias de transporte -->
  <div class="col-lg-4">
    <mat-card class="overflow-hidden">
      <div>
        <img src="./../../../../assets/images/card2.jpg" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Guías emitidas este día:
          </p>
          <p class="op-7 custom">
            167
          </p>
          <button mat-flat-button color="primary" class="fw-normal mt-4">Ir a Guías</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Guias de transporte -->
  <div class="col-lg-4">
    <mat-card class="overflow-hidden">
      <div>
        <img src="./../../../../assets/images/card3.jpg" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Facturas emitidas este día:
          </p>
          <p class="op-7 custom">
            154
          </p>
          <button mat-flat-button color="primary" class="fw-normal mt-4">Ir a Facturas</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-4" *ngFor="let card of cards">
    <mat-card class="overflow-hidden">
      <div>
        <img src="{{ card.image }}" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Super awesome, Angular 12 is coming soon!
          </p>
          <p class="op-7">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
 -->