<!-- 
    arrFormField : Fields del fomulario
    arrDataTable : Array de datos ordenados para la vista de la tabla
    arrDataAll  : Array de datos completos de la tabla
    strTableName : Nombre de la tabla a utlizar en este componente
    
    arrDataOutput       : Evento que devuelve un array de datos del formulario
    boolFormOut         : Evento que devuelve los estados booleanos del formulario,
                          como editado, validado, etc, además devuelve el fomulario completo.
    boolRefreshTable    : Evento para refrescar la tabla.
-->

<app-form-one-data

    [arrFormField]      = "arrFormField"
    [arrDataTable]      = "arrDataTable"
    [arrDataAll]        = "arrDataAll"
    [strTablesNames]    = "strTablesNames"
    [strIdName]         = "strIdName"
    [strColumnDelete]   = "strColumnDelete"
    [arrFieldSearch]    = "arrFieldSearch"

    (arrDataOutput)     = "arrDataOutput($event)"
    (boolFormOut)       = "boolFormOut($event)"
    (boolRefreshTable)  = "boolRefreshTable($event)"
    (arrDataSearch)     = "arrDataSearch($event)"

></app-form-one-data>

<notifier-container></notifier-container>