.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
