<!-- FORMULARIO DE LOGIN -->
<div class="login-container">
    <div class="background-filter"></div>
    <div class="row container" *ngIf="!loading">        
        <div class="col-lg-6 container">
            <img src="./../../assets/images/login2.png" alt="Logo">
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div class="card login">
                <div class="card-body">
                    <h4 class="mb-32 title">Inicio de sesión</h4>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput type="text" value="" (input)="convertToUpperCase()" matInput [(ngModel)]="user_name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" value="" matInput [(ngModel)]="user_password">
                    </mat-form-field>
                    <div class="button">
                        <button mat-flat-button class="boton" type="button" color="primary" (click)="login()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<notifier-container></notifier-container>