<div class="card">
    <div class="card-body">
        <form [formGroup]="formularioTercero" (ngSubmit)="Enviar()">
            <h4 class="mb-32">Datos Principales</h4>
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Tipo de tercero</mat-label>
                        <mat-select formControlName="tercerControl" [(ngModel)]="index_tt" (ngModelChange)="onSelectChange()">
                            <mat-option *ngFor="let row of options_tt" [value]="row.value">{{row.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Código</mat-label>
                        <input matInput disabled type="text" [value]="cod_tercer">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Nombre o Razon social</mat-label>
                        <input formControlName="nombreControl" matInput [(ngModel)]="nom_tercer" type="text" value="">
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Nombre auxiliar</mat-label>
                        <input matInput formControlName="auxiliControl" [(ngModel)]="nom_aux_tercer" type="text" value="">
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Tipo de documento</mat-label>
                        <mat-select formControlName="tipdocControl" [(ngModel)]="tip_doc_tercer">
                            <mat-option *ngFor="let row of options_td" [value]="row.value">{{row.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Numero de documento</mat-label>
                        <input matInput formControlName="documeControl" [(ngModel)]="doc_tercer" type="text" value="">
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Comentario</mat-label>
                        <input matInput formControlName="comentControl" [(ngModel)]="com_tercer" type="text" value="">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="w-100 fs-16" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estadoControl" [(ngModel)]="est_tercer">
                            <mat-option *ngFor="let row of options_te" [value]="row.value">{{row.label}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="error">Este campo es requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="button">
                <button mat-flat-button class="boton" type="submit" color="primary">Entrar</button>
            </div>
        </form>
    </div>
</div>