
/** Estilos del fomulario y botones */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: -9px 0px 16px 0px;
}

.buttons button {
  margin: 0px 8px;
}


/** Estilos de la tabla */

.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}


.selected {
  background-color : #dfdbf9
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  //border-color: currentColor;
  background-color : #dfdbf9
}


.mdc-data-table__cell {
  padding: 0px 16px !important;
}


/** Estilos del card */
.card {
  box-shadow: none !important;
}
