<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h4 class="mb-32">Datos Principales</h4>
            <div class="row">
                <div *ngFor="let field of fields" class="col-6">
                    <mat-form-field class="w-100 fs-16" *ngIf="field.type !== 'checkbox'" appearance="outline" [class.mat-form-field-invalid]="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                        <mat-label>{{ field.label }}</mat-label>
                        <input *ngIf="field.type === 'text'" matInput [formControlName]="field.name"
                            [type]="field.type" (ngModelChange)="field.onChange ? field.onChange() : null">
                        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name" (ngModelChange)="field.onChange ? field.onChange() : null">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get(field.name)?.invalid">
                            {{ getErrorMessage(field.name) }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h4 class="mb-32">Dirección y datos de contacto</h4>
            <div class="row">
                <div *ngFor="let field of fields2" class="col-6">
                    <mat-form-field class="w-100 fs-16" *ngIf="field.type !== 'checkbox'" appearance="outline" [class.mat-form-field-invalid]="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                        <mat-label>{{ field.label }}</mat-label>
                        <input *ngIf="field.type === 'text'" matInput [formControlName]="field.name"
                            [type]="field.type" (ngModelChange)="field.onChange ? field.onChange() : null">
                        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name" (ngModelChange)="field.onChange ? field.onChange() : null">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get(field.name)?.invalid">
                            {{ getErrorMessage(field.name) }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
    </div>
</div>
<notifier-container></notifier-container>