
/** Estilos del fomulario y botones */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: -9px 0px 16px 0px;
}

.buttons button {
  margin: 0px 8px;
}


/** Estilos de la tabla */

.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}



/*.demo-row-is-clicked {
  font-weight: bold;
  background-color : #dfdbf9
}*/

.selected {
  background-color : #dfdbf9
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  //border-color: currentColor;
  background-color : #dfdbf9
}
