<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="buttons">
                <button mat-fab color="primary" type="submit" [disabled]="form.invalid">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <h4 class="mb-32">Datos Principales</h4>
            <div class="row">
                <div *ngFor="let field of fields" class="col-6">
                    <mat-form-field class="w-100 fs-16" *ngIf="field.type !== 'checkbox'" appearance="outline" [class.mat-form-field-invalid]="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                        <mat-label>{{ field.label }}</mat-label>
                        <input *ngIf="field.type === 'text'" matInput [formControlName]="field.name"
                            [type]="field.type" (ngModelChange)="field.onChange ? field.onChange() : null">
                        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name" (ngModelChange)="field.onChange ? field.onChange() : null">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get(field.name)?.invalid">
                            {{ getErrorMessage(field.name) }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <h4 class="mb-32">Dirección y datos de contacto</h4>
            <div class="row">
                <div *ngFor="let field of fields2" class="col-6">
                    <mat-form-field class="w-100 fs-16" *ngIf="field.type !== 'checkbox'" appearance="outline" [class.mat-form-field-invalid]="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                        <mat-label>{{ field.label }}</mat-label>
                        <input *ngIf="field.type === 'text'" matInput [formControlName]="field.name"
                            [type]="field.type" (ngModelChange)="field.onChange ? field.onChange() : null">
                        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name" (ngModelChange)="field.onChange ? field.onChange() : null">
                            <mat-option *ngFor="let option of field.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get(field.name)?.invalid">
                            {{ getErrorMessage(field.name) }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell class="fw-medium" *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Assigned Column -->
      <ng-container matColumnDef="assigned">
        <th mat-header-cell *matHeaderCellDef> Assigned </th>
        <td mat-cell *matCellDef="let element">
          <p class="mb-0 fw-medium">{{ element.name }}</p>
          <p class="mb-0 fw-normal op-5">{{ element.work }}</p>
        </td>
      </ng-container>

      <!-- Project Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element">
          <p class="mb-0 fw-medium op-5">{{element.project}}</p>
        </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element">
          <span class="badge {{element.badge}} rounded-pill">{{element.priority}}</span>
        </td>
      </ng-container>

      <!-- Budget Column -->
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef> Budget </th>
        <td mat-cell *matCellDef="let element">
          <p class="mb-0 fw-medium">{{element.budget}}</p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<notifier-container></notifier-container>